.viewmore-purchase-button .purchase a{
    color: #2E3192;
    font-family: sans-serif;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 200% */
letter-spacing: 2.4px;
text-transform: uppercase;
}
.purchase{
  cursor: pointer;
  display: inline-flex;
  padding: 16px 50.814px 16px 49.202px;
  align-items: flex-start;
  border-radius: 5px;
  opacity: 0.9208;
  background: #FFF;
  position: absolute;
  z-index: 2;
  top: 25.7rem;
  left: 32.2rem;
}
.purchase:hover{ 
  background-color: #F4572E;
  transition: all 0.3s linear; 
}
.purchase:hover a{
  color: #FFF; 
}



.viewmore-purchase-button .viewmore a{
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 200% */
    letter-spacing: 2.4px;
    text-transform: uppercase;
    
  }
.viewmore{
    cursor: pointer;
    left: 19.5rem;
    top: 25.7rem;
    border-radius: 5px;
    opacity: 0.9643;
    background: #2E3192;
    display: inline-flex;
    padding: 16px 50.755px 16px 49.01px;
    align-items: flex-start;
    position: absolute;
    z-index: 2;
}
.viewmore:hover{ 
    background-color: #F4572E;
    transition: all 0.3s linear; 
  }
  .viewmore:hover a{
    color: #FFF; 
   
  }



  .butonumm{
    border-radius: 5px;
    background: #FFF;
    display: flex;
    padding: 22px 45.203px 22px 45px;
    align-items: flex-start;
    justify-content: center;
    cursor: pointer;
  
  }
  .butonumm:hover{
    border-radius: 5px;
    background: #F4572E;
    display: flex;
    padding: 22px 45.203px 22px 45px;
    align-items: flex-start;
    justify-content: center;
    transition: all 0.3s linear; 
  }
  .butonumm:hover a{
    color: #FFF;
  }


  h1 {
    font-size: 40px;
    line-height: 0.8em;
    color: rgba(255,255,255,0.2);}
  .made-with {
      background: #fd264f;
      color: #fff;
      display: block;
      font-size: 12px;
      line-height: 1em;
      margin: 0;
      padding: 5px 110px;
      position: fixed;
      top: 20px;
      right: -100px;
      text-align: center;
      text-decoration: none;
      transform: rotate(45deg);
  }
  .documentation {
      color: #fd264f;
  }
  button:focus,
  input:focus,
  textarea:focus,
  select:focus {
    outline: none; }
  
  .tabs {
    margin: 0;
    overflow: hidden;
    padding-top: 8rem;
    display: flex;
    width: 1920px;
    padding: 130px 310px 124px 310px;
    align-items: flex-start;
    gap: 41px;
    flex-wrap: nowrap;
    background: #FFF2F2; 
  height: 750px;}


    .tabs [class^="tab"] label,
    .tabs [class*=" tab"] label {
      color: #1E2D78;
text-align: center;
font-family: Catamaran;
font-size: 19px;
font-style: normal;
font-weight: 600;
line-height: 25.004px; /* 131.6% */ 
padding-left: 4.8rem;
cursor: pointer;}



    .tabs [class^="tab"] [type="radio"],
    .tabs [class*=" tab"] [type="radio"] {
      border-bottom: 1px solid rgba(239, 237, 239, 0.5);
      cursor: pointer;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      display: block;
      width: 108%;
      -webkit-transition: all 0.1s ease-in-out;
      -moz-transition: all 0.1s ease-in-out;
      -o-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out;
      padding-top: 9px
     }
      .tabs [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus,
      .tabs [class*=" tab"] [type="radio"]:hover,
      .tabs [class*=" tab"] [type="radio"]:focus {
        border-bottom: 1px solid #fd264f; }
      .tabs [class^="tab"] [type="radio"]:checked,
      .tabs [class*=" tab"] [type="radio"]:checked {
        border-bottom: 2px solid #fd264f; }
      .tabs [class^="tab"] [type="radio"]:checked + div,
      .tabs [class*=" tab"] [type="radio"]:checked + div {
        opacity: 1; }
      .tabs [class^="tab"] [type="radio"] + div,
      .tabs [class*=" tab"] [type="radio"] + div {
        display: block;
        opacity: 0;
        padding: 1rem 0;
        width: 90%;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
        .tabs .tab-2 {
          width: 50%; }
          .tabs .tab-2 [type="radio"] + div {
            width: 200%;
            margin-left: 200%; }
          .tabs .tab-2 [type="radio"]:checked + div {
            margin-left: 0; }
          .tabs .tab-2:last-child [type="radio"] + div {
            margin-left: 100%; }
          .tabs .tab-2:last-child [type="radio"]:checked + div {
            margin-left: -100%; }






