ul {
    display: flex;
    justify-content: space-evenly;
   /* flex: 1;*/
}
li{
    list-style-type: none;
}

.searchh-burger{
    display: flex;
    align-items: center;
}
body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .tablecardBody{
    background-color: #FFF2F2;
    width: 413px;
    height: 556px;
    flex-shrink: 0;
    margin-left: 0.4rem;
  }
  .cardWrapper{
    display: flex;
    justify-content: center;
    padding-top: 150px;
  }
  .card{
    flex: 1;
    text-align: center;
    padding: 0 10px;
    max-width: 440px;
  }
  
  .cardBody{
    text-align: left;
  }
  .cardWrapper .card img{
    width: 100%;
    height: 255px
  }
  .cardWrapper .card ul{
    display: flex;
    justify-content: center;
    flex: 1;
    flex-direction: column;
    align-content: center;
    text-align: left;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
    padding-top: 2.1rem;
    padding-left: 0rem;
    letter-spacing: 0.3px;
  }
  .cardWrapper .card li{
    padding: 4px 8px 7px 0;
    list-style-type: none;
    
  }
  .cardWrapper .card .cardImg{
    width: 415px;
  }
  .cardWrapper .card .cardImg{
    width: 413.328px;
    height: 254.703px;
    flex-shrink: 0;
  }
 

.cardWrap5{
  display: flex;
  flex-wrap: wrap;
  padding: 152px 310px 0 310px;
}

.ztu{
  padding-top: 143px;
}
.allcaption img{
  position: absolute;
  padding-top: 1rem;
}
.allcaption{
  display: flex;
    padding-top: 70px;
}

.değerler{
 
}
.slider-yapımı{
  height: 512px
}
.nanoname{
  padding-top: 140px;
}
.değerler .renklen{
  color: #F4572E;
  font-family: Catamaran;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 43.995px;
}
.değerler .renklen2{
  color: #FFF;
  font-family: Open Sans;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 157.895% */
}
.değerler{
  background: #2E3192;
  display: flex;
  /* width: 1920px;
  height: 213.984px; */
  padding: 70px 310px;
  justify-content: center;
  align-items: center;

}



.spanlarım{
  display: flex;
  padding-right: 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: -0.016px;
}

.lazımoldu{
  padding-right: 440px
}


  .prtscrn{
    display: flex;
width: 1920px;
padding: 120px 310px 124px 310px;
flex-direction: column;
align-items: flex-start;
gap: 41px;
background: #FFF2F2;
  }
  .yazilarim{
    color: #1E2D78;
    text-align: center;
    font-family: Catamaran;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: 25.004px;
    padding: 10px 77px 0;
    width: 82vw;
    display:flex
  }
  .yazilarim .bozuyor{
    padding: 0 157px 0 0;
    cursor: pointer;
  }
  .yazilarim .ittir{
    padding: 0px 163px 0 0;
    cursor: pointer;
    }
    .yazilarim .ittir2{
      padding: 0 163px 0 0;
      cursor: pointer;
      }
      .yazilarim .ittir3{
        cursor: pointer;
        }